In [2]:
import pandas as pd
'''
pandas: module that does:
    analyzing the data,
    cleaning,
    exploring,
    mainpulating.

in simple way : is an array
some of its methods:
    .mean()
    .median()
    .mode()
'''

'''
data: columns and rows.
one column called (series).
more than one column called (data frame),
'''

'''
csv file deals with comma(,), after each comma is a new row (new record)
'''

'\ncsv file deals with comma(,), after each comma is a new row (new record)\n'

In [3]:
data = [1, 2, 3]
# can be -> data = ["sam", "ram", "sham"] => dtype: object
s = pd.Series(data)
s

0    1
1    2
2    3
dtype: int64

In [4]:
s2 = pd.Series(data, index=["x" ,"y" ,"z"]) # use alpabet index instead of 0, 1, ...
s2

x    1
y    2
z    3
dtype: int64

In [5]:
s2["y"]

2

In [6]:
dect = {"x" : 1,
    "y": 2,
    "z": 3,
    "g": 4,
}
d = pd.Series(dect)
d

x    1
y    2
z    3
g    4
dtype: int64

In [7]:
d2 = pd.Series(dect, index=["x", "y"]) #يأخذ x, y فقط
d2

x    1
y    2
dtype: int64

In [8]:
data2 = {
    "c": [300, 400, 500],
    "d": [40, 45, 30],
}
df = pd.DataFrame(data2) # as a table
df

     c   d
0  300  40
1  400  45
2  500  30

In [9]:
df.loc[0] # print the first row

c    300
d     40
Name: 0, dtype: int64

In [10]:
df.loc[[0, 1]]
#df.loc[[0, 1, 2]]

     c   d
0  300  40
1  400  45

In [11]:
firs_row = df.head(2) # the first 2 rows
firs_row

     c   d
0  300  40
1  400  45

In [12]:
new_csv_df = pd.read_csv("data.csv")

In [13]:
new_csv_df

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112       NaN
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45           NaN    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60    2020/12/26    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132       NaN
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

In [14]:
new_csv_df.head(10)

   Duration          Date  Pulse  Maxpulse  Calories
0        60  '2020/12/01'    110       130     409.1
1        60  '2020/12/02'    117       145     479.0
2        60  '2020/12/03'    103       135     340.0
3        45  '2020/12/04'    109       175     282.4
4        45  '2020/12/05'    117       148     406.0
5        60  '2020/12/06'    102       127     300.0
6        60  '2020/12/07'    110       136     374.0
7       450  '2020/12/08'    104       134     253.3
8        30  '2020/12/09'    109       133     195.1
9        60  '2020/12/10'     98       124     269.0

In [15]:
new_csv_df.tail(10)

    Duration          Date  Pulse  Maxpulse  Calories
22        45           NaN    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60    2020/12/26    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132       NaN
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

In [16]:
new_csv_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  32 non-null     int64
 1   Date      31 non-null     object
 2   Pulse     32 non-null     int64
 3   Maxpulse  32 non-null     int64
 4   Calories  30 non-null     float64
dtypes: float64(1), int64(3), object(1)
memory usage: 1.4+ KB

In [17]:
new_csv_df.drop_duplicates(inplace=True)

new_csv_df

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112       NaN
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45           NaN    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60    2020/12/26    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132       NaN
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

In [18]:
dff = new_csv_df.dropna()

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60    2020/12/26    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

In [19]:
new_csv_df

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112       NaN
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45           NaN    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60    2020/12/26    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132       NaN
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

In [21]:
new_csv_df.dropna(subset=["Date"], inplace=True)

In [22]:
new_csv_df

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112       NaN
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60    2020/12/26    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132       NaN
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

In [24]:
new_csv_df["Calories"].median()

300.0

In [25]:
new_csv_df["Calories"].mode()[0]

300.0

In [26]:
c_mean = new_csv_df["Calories"].mean()

new_csv_df["Calories"].fillna(c_mean, inplace=True)

In [27]:
new_csv_df

    Duration          Date  Pulse  Maxpulse    Calories
0         60  '2020/12/01'    110       130  409.100000
1         60  '2020/12/02'    117       145  479.000000
2         60  '2020/12/03'    103       135  340.000000
3         45  '2020/12/04'    109       175  282.400000
4         45  '2020/12/05'    117       148  406.000000
5         60  '2020/12/06'    102       127  300.000000
6         60  '2020/12/07'    110       136  374.000000
7        450  '2020/12/08'    104       134  253.300000
8         30  '2020/12/09'    109       133  195.100000
9         60  '2020/12/10'     98       124  269.000000
10        60  '2020/12/11'    103       147  329.300000
11        60  '2020/12/12'    100       120  250.700000
13        60  '2020/12/13'    106       128  345.300000
14        60  '2020/12/14'    104       132  379.300000
15        60  '2020/12/15'     98       123  275.000000
16        60  '2020/12/16'     98       120  215.200000
17        60  '2020/12/17'    100       120  300.000000
18        45  '2020/12/18'     90       112  307.417857
19        60  '2020/12/19'    103       123  323.000000
20        45  '2020/12/20'     97       125  243.000000
21        60  '2020/12/21'    108       131  364.200000
23        60  '2020/12/23'    130       101  300.000000
24        45  '2020/12/24'    105       132  246.000000
25        60  '2020/12/25'    102       126  334.500000
26        60    2020/12/26    100       120  250.000000
27        60  '2020/12/27'     92       118  241.000000
28        60  '2020/12/28'    103       132  307.417857
29        60  '2020/12/29'    100       132  280.000000
30        60  '2020/12/30'    102       129  380.300000
31        60  '2020/12/31'     92       115  243.000000

In [28]:
new_csv_df["Duration"].mode()[0]

60

In [29]:
new_csv_df["Duration"].fillna(new_csv_df["Duration"].mode()[0], inplace=True)

In [30]:
;new_csv_df.index

Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 13, 14, 15, 16, 17, 18,
       19, 20, 21, 23, 24, 25, 26, 27, 28, 29, 30, 31],
      dtype='int64')

In [31]:
for i in new_csv_df.index:
    if new_csv_df.loc[i]["Duration"] > 120:
        new_csv_df.loc[i,"Duration"] = new_csv_df["Duration"].mode()[0]

In [32]:
new_csv_df

    Duration          Date  Pulse  Maxpulse    Calories
0         60  '2020/12/01'    110       130  409.100000
1         60  '2020/12/02'    117       145  479.000000
2         60  '2020/12/03'    103       135  340.000000
3         45  '2020/12/04'    109       175  282.400000
4         45  '2020/12/05'    117       148  406.000000
5         60  '2020/12/06'    102       127  300.000000
6         60  '2020/12/07'    110       136  374.000000
7         60  '2020/12/08'    104       134  253.300000
8         30  '2020/12/09'    109       133  195.100000
9         60  '2020/12/10'     98       124  269.000000
10        60  '2020/12/11'    103       147  329.300000
11        60  '2020/12/12'    100       120  250.700000
13        60  '2020/12/13'    106       128  345.300000
14        60  '2020/12/14'    104       132  379.300000
15        60  '2020/12/15'     98       123  275.000000
16        60  '2020/12/16'     98       120  215.200000
17        60  '2020/12/17'    100       120  300.000000
18        45  '2020/12/18'     90       112  307.417857
19        60  '2020/12/19'    103       123  323.000000
20        45  '2020/12/20'     97       125  243.000000
21        60  '2020/12/21'    108       131  364.200000
23        60  '2020/12/23'    130       101  300.000000
24        45  '2020/12/24'    105       132  246.000000
25        60  '2020/12/25'    102       126  334.500000
26        60    2020/12/26    100       120  250.000000
27        60  '2020/12/27'     92       118  241.000000
28        60  '2020/12/28'    103       132  307.417857
29        60  '2020/12/29'    100       132  280.000000
30        60  '2020/12/30'    102       129  380.300000
31        60  '2020/12/31'     92       115  243.000000